# Data Cleaning

### Step 1. Import the necessary libraries

In [1]:
print("francesco_test")

francesco_test

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Set the url we want to import the data from

In [ ]:
url = 'https://raw.githubusercontent.com/FrancescoMariottini/project3/main/inputs/all_sales_data.csv'

### Step 3. Assign it to a pandas DataFrame

In [ ]:
df = pd.read_csv(url)
df

/home/jo/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (11,12,16,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,source,hyperlink,locality,postcode,house_is,property_subtype,price,sale,rooms_number,area,...,open_fire,terrace,terrace_area,garden,garden_area,land_surface,land_plot_surface,facades_number,swimming_pool_has,building_state
0,6,8901695,4180,4180.0,True,MIXED_USE_BUILDING,295000,NaN,3,242,...,False,True,36,True,1000,1403,1403,0,False,GOOD
1,6,8747010,8730,8730.0,True,VILLA,675000,NaN,4,349,...,False,False,0,True,977,1526,1526,0,False,AS_NEW
2,6,8775843,4020,4020.0,True,APARTMENT_BLOCK,250000,NaN,5,303,...,False,False,0,False,0,760,760,0,False,TO_RENOVATE
3,6,8910441,1200,1200.0,True,HOUSE,545000,NaN,4,235,...,False,False,0,False,0,63,63,0,False,JUST_RENOVATED
4,6,8758672,1190,1190.0,True,MIXED_USE_BUILDING,500000,NaN,2,220,...,False,False,0,True,60,193,193,0,False,AS_NEW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93063,3,NaN,2650,2650.0,False,NaN,210000€,NaN,2,100 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,To renovate
93064,3,NaN,3700,3700.0,False,NaN,239000€,NaN,1,78 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,4,0,Good
93065,3,NaN,3800,3800.0,False,NaN,259000€,NaN,2,90 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,As new
93066,3,NaN,2610,2610.0,False,NaN,254000€,NaN,2,88 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,2,0,Not specified
93067,3,NaN,9840,9840.0,False,NaN,359000€,NaN,2,140 m²,...,False,NaN,NaN,False,NaN,NaN,NaN,4,0,Not specified

In [ ]:
df.dtypes

source                 int64
hyperlink             object
locality              object
postcode             float64
house_is                bool
property_subtype      object
price                 object
sale                  object
rooms_number          object
area                  object
kitchen_has           object
furnished             object
open_fire             object
terrace               object
terrace_area          object
garden                object
garden_area           object
land_surface          object
land_plot_surface     object
facades_number        object
swimming_pool_has     object
building_state        object
dtype: object